# NBA Game Log Data Analysis

Analysis of 523,825 NBA game logs from 2003-2024, focusing on data quality and statistical validation. Key areas examined: team names standardization, location/outcome encoding, and points calculation verification.

## Data Loading
Loading 20 seasons of game logs from CSV files, with date parsing and sorting.

In [1]:
import pandas as pd
from pathlib import Path

# Combine all season files
seasons_data = []
raw_dir = Path("../data/raw")

for file in raw_dir.glob("game_logs_*.csv"):
    df = pd.read_csv(file)
    df['season'] = int(file.stem.split('_')[2])  # Extract year from filename
    seasons_data.append(df)

df = pd.concat(seasons_data, ignore_index=True)

# type conversion
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date')

In [2]:
# set options to see all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## Display basic dataset info

In [3]:
print("Dataset Shape:", df.shape)
print("\nColumn Names:")
print(df.columns.tolist())
print("\nData Types:")
print(df.dtypes)

Dataset Shape: (523825, 26)

Column Names:
['date', 'team', 'location', 'opponent', 'outcome', 'active', 'seconds_played', 'made_field_goals', 'attempted_field_goals', 'made_three_point_field_goals', 'attempted_three_point_field_goals', 'made_free_throws', 'attempted_free_throws', 'offensive_rebounds', 'defensive_rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'personal_fouls', 'points_scored', 'game_score', 'plus_minus', 'player_id', 'name', 'season']

Data Types:
date                                 datetime64[ns]
team                                         object
location                                     object
opponent                                     object
outcome                                      object
active                                         bool
seconds_played                                int64
made_field_goals                              int64
attempted_field_goals                         int64
made_three_point_field_goals                  int64
attempted_three_point_field_goals             int64
made_free_throws                              int64
attempted_free_throws                         int64
offensive_rebounds                            int64
defensive_rebounds                            int64
assists                                       int64
steals                                        int64
blocks                                        int64
turnovers                                     int64
personal_fouls                                int64
points_scored                                 int64
game_score                                  float64
plus_minus                                    int64
player_id                                    object
name                                         object
season                                        int64
dtype: object

### Observation:
team, location, opponent, outcome have object type

## Null and duplicate check

In [4]:
# Check null values
null_counts = df.isnull().sum()
print("Null Values:\n", null_counts[null_counts > 0])

# Check duplicates
duplicate_count = df.duplicated().sum()
print("\nDuplicate Rows:", duplicate_count)

Null Values:
 Series([], dtype: int64)

Duplicate Rows: 0

## Statistical Analysis
Examining distribution of game statistics including minutes played, scoring, rebounds, and efficiency metrics. Key findings:
- Points Per Game: Average 9.94 (Range: 0-81)
- Playing Time: Average 23.2 minutes
- Field Goal Stats: 3.69 made / 8.07 attempted

In [5]:
# Get summary statistics for numeric columns
print(df.describe())

                                date  seconds_played  made_field_goals  \
count                         523825   523825.000000     523825.000000
mean   2014-02-22 08:51:37.034315008     1394.785056          3.692073
min              2003-10-28 00:00:00        0.000000          0.000000
25%              2008-12-19 00:00:00      900.000000          1.000000
50%              2014-02-26 00:00:00     1434.000000          3.000000
75%              2019-02-23 00:00:00     1931.000000          5.000000
max              2024-04-14 00:00:00     3620.000000         28.000000
std                              NaN      670.955014          3.086132

       attempted_field_goals  made_three_point_field_goals  \
count          523825.000000                 523825.000000
mean                8.066530                      0.823838
min                 0.000000                      0.000000
25%                 4.000000                      0.000000
50%                 7.000000                      0.000000
75%                12.000000                      1.000000
max                50.000000                     14.000000
std                 5.756984                      1.267923

       attempted_three_point_field_goals  made_free_throws  \
count                      523825.000000     523825.000000
mean                            2.299948          1.731941
min                             0.000000          0.000000
25%                             0.000000          0.000000
50%                             1.000000          1.000000
75%                             4.000000          3.000000
max                            24.000000         26.000000
std                             2.649580          2.362605

       attempted_free_throws  offensive_rebounds  defensive_rebounds  \
count          523825.000000       523825.000000       523825.000000
mean                2.271852            1.038633            3.079485
min                 0.000000            0.000000            0.000000
25%                 0.000000            0.000000            1.000000
50%                 2.000000            1.000000            2.000000
75%                 4.000000            2.000000            4.000000
max                39.000000           18.000000           25.000000
std                 2.887348            1.410278            2.709375

             assists         steals         blocks      turnovers  \
count  523825.000000  523825.000000  523825.000000  523825.000000
mean        2.177336       0.724818       0.467118       1.314233
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       0.000000       0.000000       0.000000
50%         1.000000       0.000000       0.000000       1.000000
75%         3.000000       1.000000       1.000000       2.000000
max        25.000000      10.000000      12.000000      12.000000
std         2.527145       0.973976       0.867039       1.400866

       personal_fouls  points_scored     game_score     plus_minus  \
count   523825.000000  523825.000000  523825.000000  523825.000000
mean         1.981540       9.939925       7.674194       0.000475
min          0.000000       0.000000     -11.200000     -58.000000
25%          1.000000       3.000000       1.900000      -7.000000
50%          2.000000       8.000000       6.300000       0.000000
75%          3.000000      15.000000      12.000000       7.000000
max          6.000000      81.000000      64.000000      57.000000
std          1.494181       8.235141       7.320983      10.719160

              season
count  523825.000000
mean     2014.085028
min      2004.000000
25%      2009.000000
50%      2014.000000
75%      2019.000000
max      2024.000000
std         6.056931

In [6]:
# Check unique values in categorical columns
categorical_cols = ['team', 'location', 'opponent', 'outcome']
for col in categorical_cols:
    print(f"\nUnique values in {col}:")
    print(f"Total unique values: {df[col].nunique()}")
    print(df[col].value_counts())
    print("-"*50)

Unique values in team:
Total unique values: 37
team
Team.SAN_ANTONIO_SPURS                    18814
Team.DALLAS_MAVERICKS                     18128
Team.UTAH_JAZZ                            17989
Team.BOSTON_CELTICS                       17815
Team.INDIANA_PACERS                       17628
Team.WASHINGTON_WIZARDS                   17620
Team.LOS_ANGELES_CLIPPERS                 17613
Team.MILWAUKEE_BUCKS                      17573
Team.MEMPHIS_GRIZZLIES                    17542
Team.ATLANTA_HAWKS                        17519
Team.GOLDEN_STATE_WARRIORS                17462
Team.MINNESOTA_TIMBERWOLVES               17459
Team.DENVER_NUGGETS                       17448
Team.ORLANDO_MAGIC                        17440
Team.TORONTO_RAPTORS                      17405
Team.LOS_ANGELES_LAKERS                   17393
Team.SACRAMENTO_KINGS                     17383
Team.PHILADELPHIA_76ERS                   17377
Team.DETROIT_PISTONS                      17354
Team.CLEVELAND_CAVALIERS                  17323
Team.PORTLAND_TRAIL_BLAZERS               17254
Team.PHOENIX_SUNS                         17181
Team.CHICAGO_BULLS                        17166
Team.NEW_YORK_KNICKS                      17079
Team.MIAMI_HEAT                           16852
Team.HOUSTON_ROCKETS                      16843
Team.OKLAHOMA_CITY_THUNDER                13493
Team.BROOKLYN_NETS                        10304
Team.NEW_ORLEANS_PELICANS                  9107
Team.CHARLOTTE_BOBCATS                     8276
Team.CHARLOTTE_HORNETS                     8195
Team.NEW_JERSEY_NETS                       7408
Team.NEW_ORLEANS_HORNETS                   6495
Team.SEATTLE_SUPERSONICS                   4180
Team.NEW_ORLEANS_OKLAHOMA_CITY_HORNETS     1622
ATLANTA HAWKS                                53
PORTLAND TRAIL BLAZERS                       32
Name: count, dtype: int64
--------------------------------------------------

Unique values in location:
Total unique values: 4
location
Location.HOME    261908
Location.AWAY    261832
HOME                 43
AWAY                 42
Name: count, dtype: int64
--------------------------------------------------

Unique values in opponent:
Total unique values: 63
opponent
Team.DENVER_NUGGETS                       17648
Team.UTAH_JAZZ                            17633
Team.LOS_ANGELES_CLIPPERS                 17621
Team.MEMPHIS_GRIZZLIES                    17599
Team.ORLANDO_MAGIC                        17569
Team.SAN_ANTONIO_SPURS                    17564
Team.SACRAMENTO_KINGS                     17561
Team.PHOENIX_SUNS                         17556
Team.LOS_ANGELES_LAKERS                   17545
Team.WASHINGTON_WIZARDS                   17524
Team.HOUSTON_ROCKETS                      17511
Team.MILWAUKEE_BUCKS                      17492
Team.INDIANA_PACERS                       17466
Team.DALLAS_MAVERICKS                     17466
Team.PORTLAND_TRAIL_BLAZERS               17459
Team.NEW_YORK_KNICKS                      17441
Team.PHILADELPHIA_76ERS                   17440
Team.DETROIT_PISTONS                      17421
Team.MINNESOTA_TIMBERWOLVES               17415
Team.CLEVELAND_CAVALIERS                  17404
Team.ATLANTA_HAWKS                        17388
Team.GOLDEN_STATE_WARRIORS                17383
Team.MIAMI_HEAT                           17378
Team.BOSTON_CELTICS                       17378
Team.TORONTO_RAPTORS                      17359
Team.CHICAGO_BULLS                        17329
Team.OKLAHOMA_CITY_THUNDER                13285
Team.BROOKLYN_NETS                        10221
Team.NEW_ORLEANS_PELICANS                  9376
Team.CHARLOTTE_HORNETS                     8423
Team.CHARLOTTE_BOBCATS                     8293
Team.NEW_JERSEY_NETS                       7349
Team.NEW_ORLEANS_HORNETS                   6424
Team.SEATTLE_SUPERSONICS                   4163
Team.NEW_ORLEANS_OKLAHOMA_CITY_HORNETS     1656
INDIANA PACERS                                5
LOS ANGELES CLIPPERS                          5
DETROIT PISTONS                               4
NEW ORLEANS HORNETS                           4
LOS ANGELES LAKERS                            4
MINNESOTA TIMBERWOLVES                        4
BOSTON CELTICS                                4
DENVER NUGGETS                                4
GOLDEN STATE WARRIORS                         4
SAN ANTONIO SPURS                             4
MILWAUKEE BUCKS                               4
TORONTO RAPTORS                               3
ORLANDO MAGIC                                 3
SACRAMENTO KINGS                              3
NEW YORK KNICKS                               3
MIAMI HEAT                                    3
HOUSTON ROCKETS                               3
DALLAS MAVERICKS                              2
PORTLAND TRAIL BLAZERS                        2
SEATTLE SUPERSONICS                           2
PHOENIX SUNS                                  2
WASHINGTON WIZARDS                            2
UTAH JAZZ                                     2
MEMPHIS GRIZZLIES                             2
CLEVELAND CAVALIERS                           2
PHILADELPHIA 76ERS                            2
CHICAGO BULLS                                 2
NEW JERSEY NETS                               1
Name: count, dtype: int64
--------------------------------------------------

Unique values in outcome:
Total unique values: 4
outcome
Outcome.WIN     262015
Outcome.LOSS    261725
LOSS                50
WIN                 35
Name: count, dtype: int64
--------------------------------------------------

In [7]:
# Check if points match field goals and free throws
df['calculated_points'] = (df['made_field_goals'] - df['made_three_point_field_goals']) * 2 + \
                         df['made_three_point_field_goals'] * 3 + \
                         df['made_free_throws']
points_mismatch = (df['calculated_points'] != df['points_scored']).sum()
print("\nPoints calculation mismatches:", points_mismatch)

Points calculation mismatches: 2

In [8]:
points_mismatch_rows = (df['calculated_points'] != df['points_scored'])
mismatch_rows = df[points_mismatch_rows].copy()
scoring_cols = [
   'date', 'name', 'team', 'opponent',
   'made_field_goals', 'made_three_point_field_goals', 
   'made_free_throws', 'calculated_points', 'points_scored'
]
print(mismatch_rows[scoring_cols])

            date             name                     team  \
29866 2021-01-05    Anthony Davis  Team.LOS_ANGELES_LAKERS
43715 2021-01-05  Dennis Schröder  Team.LOS_ANGELES_LAKERS

                     opponent  made_field_goals  made_three_point_field_goals  \
29866  Team.MEMPHIS_GRIZZLIES                10                             4
43715  Team.MEMPHIS_GRIZZLIES                 5                             1

       made_free_throws  calculated_points  points_scored
29866                 3                 27             26
43715                 0                 11             12

## Data Quality Issues

### Team and Opponent Names
- 37 unique team values (expected: 30)
- 63 unique opponent values (expected: 30)
- Historical transitions (e.g., SuperSonics → Thunder)
- Format inconsistencies in team and opponent data

### Locations and Game Outcomes
Standardization needed for:
- Location values (HOME/AWAY formats)
- Outcome values (WIN/LOSS formats)

### Points Validation
Found 2 scoring discrepancies:
- Identified in Lakers vs Grizzlies game (2021-01-05)
- Point attribution error between Davis and Schröder
- I will omit this record due to it does not have major effect

#### Get all unique values

In [9]:
# get the list 
categorical_cols = ['location', 'outcome']
unique_values = {col: df[col].unique().tolist() for col in categorical_cols}
print("\nUnique values as lists:")
for col, values in unique_values.items():
    print(f"{col}: {values}")
    print("-"*100)

Unique values as lists:
location: ['Location.HOME', 'Location.AWAY', 'AWAY', 'HOME']
----------------------------------------------------------------------------------------------------
outcome: ['Outcome.WIN', 'Outcome.LOSS', 'LOSS', 'WIN']
----------------------------------------------------------------------------------------------------

In [10]:
categorical_cols = ['team', 'opponent']
unique_values = {col: df[col].unique().tolist() for col in categorical_cols}
all_team_names = unique_values["team"] + unique_values["opponent"]
all_team_names = sorted(set(all_team_names))
print("Unique team names occur in the data:")
print(all_team_names)

Unique team names occur in the data:
['ATLANTA HAWKS', 'BOSTON CELTICS', 'CHICAGO BULLS', 'CLEVELAND CAVALIERS', 'DALLAS MAVERICKS', 'DENVER NUGGETS', 'DETROIT PISTONS', 'GOLDEN STATE WARRIORS', 'HOUSTON ROCKETS', 'INDIANA PACERS', 'LOS ANGELES CLIPPERS', 'LOS ANGELES LAKERS', 'MEMPHIS GRIZZLIES', 'MIAMI HEAT', 'MILWAUKEE BUCKS', 'MINNESOTA TIMBERWOLVES', 'NEW JERSEY NETS', 'NEW ORLEANS HORNETS', 'NEW YORK KNICKS', 'ORLANDO MAGIC', 'PHILADELPHIA 76ERS', 'PHOENIX SUNS', 'PORTLAND TRAIL BLAZERS', 'SACRAMENTO KINGS', 'SAN ANTONIO SPURS', 'SEATTLE SUPERSONICS', 'TORONTO RAPTORS', 'Team.ATLANTA_HAWKS', 'Team.BOSTON_CELTICS', 'Team.BROOKLYN_NETS', 'Team.CHARLOTTE_BOBCATS', 'Team.CHARLOTTE_HORNETS', 'Team.CHICAGO_BULLS', 'Team.CLEVELAND_CAVALIERS', 'Team.DALLAS_MAVERICKS', 'Team.DENVER_NUGGETS', 'Team.DETROIT_PISTONS', 'Team.GOLDEN_STATE_WARRIORS', 'Team.HOUSTON_ROCKETS', 'Team.INDIANA_PACERS', 'Team.LOS_ANGELES_CLIPPERS', 'Team.LOS_ANGELES_LAKERS', 'Team.MEMPHIS_GRIZZLIES', 'Team.MIAMI_HEAT', 'Team.MILWAUKEE_BUCKS', 'Team.MINNESOTA_TIMBERWOLVES', 'Team.NEW_JERSEY_NETS', 'Team.NEW_ORLEANS_HORNETS', 'Team.NEW_ORLEANS_OKLAHOMA_CITY_HORNETS', 'Team.NEW_ORLEANS_PELICANS', 'Team.NEW_YORK_KNICKS', 'Team.OKLAHOMA_CITY_THUNDER', 'Team.ORLANDO_MAGIC', 'Team.PHILADELPHIA_76ERS', 'Team.PHOENIX_SUNS', 'Team.PORTLAND_TRAIL_BLAZERS', 'Team.SACRAMENTO_KINGS', 'Team.SAN_ANTONIO_SPURS', 'Team.SEATTLE_SUPERSONICS', 'Team.TORONTO_RAPTORS', 'Team.UTAH_JAZZ', 'Team.WASHINGTON_WIZARDS', 'UTAH JAZZ', 'WASHINGTON WIZARDS']