# NBA Game Log Data Analysis

Analysis of 523,825 NBA game logs from 2003-2024, focusing on data quality and statistical validation. Key areas examined: team names standardization, location/outcome encoding, and points calculation verification.

## Data Loading
Loading games logs from 03-04 season from CSV files.

In [1]:
import pandas as pd
from nba_data_forge.common.utils.paths import paths

# set options to see all columns and rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Combine all season files
seasons_data = []
raw_dir = paths.get_path("raw_archive") # data has been loaded into database and moved into archive

for file in raw_dir.glob("game_logs_*.csv"):
    df = pd.read_csv(file)
    df['season'] = int(file.stem.split('_')[2])  # Extract year from filename
    seasons_data.append(df)

df = pd.concat(seasons_data, ignore_index=True)

In [2]:
def data_overview(df: pd.DataFrame):
    # Basic dataset info
    print("\n=== NBA Game Log Data Overview ===")
    print(f"Total Records: {df.shape[0]:,}")
    print(f"Columns: {df.shape[1]}")
    
    # Date range
    if 'date' in df.columns:
        print("\n=== Time Range ===")
        print(f"Start Date: {df['date'].min()}")
        print(f"End Date: {df['date'].max()}")
        
    # Data types
    print("\n=== Column Data Types ===")
    for col, dtype in df.dtypes.items():
        print(f"{col:<20} {dtype}")        
        
    # Unique values for specified columns
    categorical_cols = ['team', 'location', 'opponent', 'outcome']
    print("\n=== Selected Categorical Column Values ===")
    for col in categorical_cols:
        if col in df.columns:
            unique_vals = df[col].nunique()
            print(f"\n{col} - {unique_vals} unique values:")
            value_counts = df[col].value_counts()
            for val, count in value_counts.items():
                print(f"  {val:<30} {count:,}")     
        
    # Data quality check
    print("\n=== Data Quality ===")
    null_counts = df.isnull().sum()
    if null_counts.any():
        print("\nMissing Values:")
        print(null_counts[null_counts > 0])
    else:
        print("No missing values found")        
        
    print(f"\nDuplicate Rows: {df.duplicated().sum():,}")

In [3]:
data_overview(df)

=== NBA Game Log Data Overview ===
Total Records: 539,777
Columns: 26

=== Time Range ===
Start Date: 2003-10-28
End Date: 2025-02-04

=== Column Data Types ===
date                 object
team                 object
location             object
opponent             object
outcome              object
active               bool
seconds_played       int64
made_field_goals     int64
attempted_field_goals int64
made_three_point_field_goals int64
attempted_three_point_field_goals int64
made_free_throws     int64
attempted_free_throws int64
offensive_rebounds   int64
defensive_rebounds   int64
assists              int64
steals               int64
blocks               int64
turnovers            int64
personal_fouls       int64
points_scored        int64
game_score           float64
plus_minus           int64
player_id            object
name                 object
season               int64

=== Selected Categorical Column Values ===

team - 37 unique values:
  Team.SAN_ANTONIO_SPURS         19,356
  Team.DALLAS_MAVERICKS          18,698
  Team.UTAH_JAZZ                 18,486
  Team.BOSTON_CELTICS            18,353
  Team.WASHINGTON_WIZARDS        18,179
  Team.INDIANA_PACERS            18,169
  Team.LOS_ANGELES_CLIPPERS      18,164
  Team.MILWAUKEE_BUCKS           18,118
  Team.MEMPHIS_GRIZZLIES         18,094
  Team.GOLDEN_STATE_WARRIORS     18,026
  Team.ORLANDO_MAGIC             18,014
  Team.ATLANTA_HAWKS             18,012
  Team.DENVER_NUGGETS            17,974
  Team.MINNESOTA_TIMBERWOLVES    17,961
  Team.TORONTO_RAPTORS           17,953
  Team.SACRAMENTO_KINGS          17,912
  Team.PHILADELPHIA_76ERS        17,887
  Team.DETROIT_PISTONS           17,884
  Team.LOS_ANGELES_LAKERS        17,879
  Team.CLEVELAND_CAVALIERS       17,874
  Team.PORTLAND_TRAIL_BLAZERS    17,810
  Team.CHICAGO_BULLS             17,750
  Team.PHOENIX_SUNS              17,697
  Team.NEW_YORK_KNICKS           17,592
  Team.HOUSTON_ROCKETS           17,363
  Team.MIAMI_HEAT                17,347
  Team.OKLAHOMA_CITY_THUNDER     14,034
  Team.BROOKLYN_NETS             10,811
  Team.NEW_ORLEANS_PELICANS      9,613
  Team.CHARLOTTE_HORNETS         8,701
  Team.CHARLOTTE_BOBCATS         8,276
  Team.NEW_JERSEY_NETS           7,408
  Team.NEW_ORLEANS_HORNETS       6,495
  Team.SEATTLE_SUPERSONICS       4,180
  Team.NEW_ORLEANS_OKLAHOMA_CITY_HORNETS 1,622
  ATLANTA HAWKS                  53
  PORTLAND TRAIL BLAZERS         32

location - 4 unique values:
  Location.HOME                  269,927
  Location.AWAY                  269,765
  HOME                           43
  AWAY                           42

opponent - 63 unique values:
  Team.DENVER_NUGGETS            18,177
  Team.LOS_ANGELES_CLIPPERS      18,167
  Team.MEMPHIS_GRIZZLIES         18,156
  Team.UTAH_JAZZ                 18,146
  Team.ORLANDO_MAGIC             18,124
  Team.SAN_ANTONIO_SPURS         18,084
  Team.SACRAMENTO_KINGS          18,078
  Team.LOS_ANGELES_LAKERS        18,074
  Team.WASHINGTON_WIZARDS        18,073
  Team.PHOENIX_SUNS              18,065
  Team.HOUSTON_ROCKETS           18,046
  Team.PORTLAND_TRAIL_BLAZERS    18,036
  Team.MILWAUKEE_BUCKS           18,017
  Team.DALLAS_MAVERICKS          18,005
  Team.INDIANA_PACERS            18,000
  Team.NEW_YORK_KNICKS           17,994
  Team.PHILADELPHIA_76ERS        17,967
  Team.CLEVELAND_CAVALIERS       17,945
  Team.MINNESOTA_TIMBERWOLVES    17,944
  Team.DETROIT_PISTONS           17,938
  Team.ATLANTA_HAWKS             17,916
  Team.BOSTON_CELTICS            17,910
  Team.GOLDEN_STATE_WARRIORS     17,903
  Team.CHICAGO_BULLS             17,890
  Team.TORONTO_RAPTORS           17,890
  Team.MIAMI_HEAT                17,879
  Team.OKLAHOMA_CITY_THUNDER     13,811
  Team.BROOKLYN_NETS             10,762
  Team.NEW_ORLEANS_PELICANS      9,908
  Team.CHARLOTTE_HORNETS         8,902
  Team.CHARLOTTE_BOBCATS         8,293
  Team.NEW_JERSEY_NETS           7,349
  Team.NEW_ORLEANS_HORNETS       6,424
  Team.SEATTLE_SUPERSONICS       4,163
  Team.NEW_ORLEANS_OKLAHOMA_CITY_HORNETS 1,656
  LOS ANGELES CLIPPERS           5
  INDIANA PACERS                 5
  DETROIT PISTONS                4
  SAN ANTONIO SPURS              4
  MILWAUKEE BUCKS                4
  BOSTON CELTICS                 4
  MINNESOTA TIMBERWOLVES         4
  LOS ANGELES LAKERS             4
  GOLDEN STATE WARRIORS          4
  NEW ORLEANS HORNETS            4
  DENVER NUGGETS                 4
  ORLANDO MAGIC                  3
  NEW YORK KNICKS                3
  HOUSTON ROCKETS                3
  TORONTO RAPTORS                3
  MIAMI HEAT                     3
  SACRAMENTO KINGS               3
  UTAH JAZZ                      2
  CLEVELAND CAVALIERS            2
  MEMPHIS GRIZZLIES              2
  PHILADELPHIA 76ERS             2
  WASHINGTON WIZARDS             2
  PHOENIX SUNS                   2
  SEATTLE SUPERSONICS            2
  PORTLAND TRAIL BLAZERS         2
  CHICAGO BULLS                  2
  DALLAS MAVERICKS               2
  NEW JERSEY NETS                1

outcome - 4 unique values:
  Outcome.WIN                    269,969
  Outcome.LOSS                   269,723
  LOSS                           50
  WIN                            35

=== Data Quality ===
No missing values found

Duplicate Rows: 0

## Review data fetching using `regular_season_player_box_scores`

### Dataset Overview
- Total records: 539,777 game logs spanning from October 28, 2003 to February 4, 2025
- Complete dataset with no missing values or duplicates
- 26 columns capturing various game statistics and player information

### Key Observations

#### Team Distribution
- Data covers all NBA teams, including historical team changes
- Most represented teams:
  - San Antonio Spurs (19,356 records)
  - Dallas Mavericks (18,698 records)
  - Utah Jazz (18,486 records)
- Historical team transitions visible in the data:
  - Seattle SuperSonics → Oklahoma City Thunder
  - New Jersey Nets → Brooklyn Nets
  - Charlotte Bobcats → Charlotte Hornets
  - New Orleans Hornets → Pelicans

#### Data Quality Issues
- Minor format inconsistencies in team names:
  - Main format: "Team.TEAM_NAME" (e.g., "Team.ATLANTA_HAWKS")
  - Alternative format: Plain text (e.g., "ATLANTA HAWKS")
- Similar inconsistencies in location and outcome fields:
  - Primary format: "Location.HOME"/"Location.AWAY"
  - Alternative format: "HOME"/"AWAY"

#### Game Distribution
- Nearly perfect balance between:
  - Home (269,927) vs Away (269,765) games
  - Wins (269,969) vs Losses (269,723) games

This dataset provides a comprehensive view of NBA game logs with high data quality, though some minor standardization would be beneficial for team names and game attributes.

In [4]:
from nba_data_forge.etl.transformers.game_log_transformer import GameLogTransformer

transformer = GameLogTransformer()
df_transformed = transformer.transform(df)

2025-02-06 12:13:58 | GameLogTransformer | INFO     | Cleaning column: team
2025-02-06 12:13:59 | GameLogTransformer | INFO     | Cleaning column: opponent
2025-02-06 12:13:59 | GameLogTransformer | INFO     | Cleaning column: location
2025-02-06 12:13:59 | GameLogTransformer | INFO     | Cleaning column: outcome
2025-02-06 12:13:59 | GameLogTransformer | INFO     | Transformed 539777 game logs with 31 columns

In [5]:
data_overview(df_transformed)

=== NBA Game Log Data Overview ===
Total Records: 539,777
Columns: 31

=== Time Range ===
Start Date: 2003-10-28 00:00:00
End Date: 2025-02-04 00:00:00

=== Column Data Types ===
date                 datetime64[ns]
team                 object
location             object
opponent             object
outcome              object
active               bool
seconds_played       int64
made_field_goals     int64
attempted_field_goals int64
made_three_point_field_goals int64
attempted_three_point_field_goals int64
made_free_throws     int64
attempted_free_throws int64
offensive_rebounds   int64
defensive_rebounds   int64
assists              int64
steals               int64
blocks               int64
turnovers            int64
personal_fouls       int64
points_scored        int64
game_score           float64
plus_minus           int64
player_id            object
name                 object
season               int64
team_abbrev          object
opponent_abbrev      object
is_home              bool
is_win               bool
minutes_played       float64

=== Selected Categorical Column Values ===

team - 35 unique values:
  SAN ANTONIO SPURS              19,356
  DALLAS MAVERICKS               18,698
  UTAH JAZZ                      18,486
  BOSTON CELTICS                 18,353
  WASHINGTON WIZARDS             18,179
  INDIANA PACERS                 18,169
  LOS ANGELES CLIPPERS           18,164
  MILWAUKEE BUCKS                18,118
  MEMPHIS GRIZZLIES              18,094
  ATLANTA HAWKS                  18,065
  GOLDEN STATE WARRIORS          18,026
  ORLANDO MAGIC                  18,014
  DENVER NUGGETS                 17,974
  MINNESOTA TIMBERWOLVES         17,961
  TORONTO RAPTORS                17,953
  SACRAMENTO KINGS               17,912
  PHILADELPHIA 76ERS             17,887
  DETROIT PISTONS                17,884
  LOS ANGELES LAKERS             17,879
  CLEVELAND CAVALIERS            17,874
  PORTLAND TRAIL BLAZERS         17,842
  CHICAGO BULLS                  17,750
  PHOENIX SUNS                   17,697
  NEW YORK KNICKS                17,592
  HOUSTON ROCKETS                17,363
  MIAMI HEAT                     17,347
  OKLAHOMA CITY THUNDER          14,034
  BROOKLYN NETS                  10,811
  NEW ORLEANS PELICANS           9,613
  CHARLOTTE HORNETS              8,701
  CHARLOTTE BOBCATS              8,276
  NEW JERSEY NETS                7,408
  NEW ORLEANS HORNETS            6,495
  SEATTLE SUPERSONICS            4,180
  NEW ORLEANS OKLAHOMA CITY HORNETS 1,622

location - 2 unique values:
  HOME                           269,970
  AWAY                           269,807

opponent - 35 unique values:
  DENVER NUGGETS                 18,181
  LOS ANGELES CLIPPERS           18,172
  MEMPHIS GRIZZLIES              18,158
  UTAH JAZZ                      18,148
  ORLANDO MAGIC                  18,127
  SAN ANTONIO SPURS              18,088
  SACRAMENTO KINGS               18,081
  LOS ANGELES LAKERS             18,078
  WASHINGTON WIZARDS             18,075
  PHOENIX SUNS                   18,067
  HOUSTON ROCKETS                18,049
  PORTLAND TRAIL BLAZERS         18,038
  MILWAUKEE BUCKS                18,021
  DALLAS MAVERICKS               18,007
  INDIANA PACERS                 18,005
  NEW YORK KNICKS                17,997
  PHILADELPHIA 76ERS             17,969
  MINNESOTA TIMBERWOLVES         17,948
  CLEVELAND CAVALIERS            17,947
  DETROIT PISTONS                17,942
  ATLANTA HAWKS                  17,916
  BOSTON CELTICS                 17,914
  GOLDEN STATE WARRIORS          17,907
  TORONTO RAPTORS                17,893
  CHICAGO BULLS                  17,892
  MIAMI HEAT                     17,882
  OKLAHOMA CITY THUNDER          13,811
  BROOKLYN NETS                  10,762
  NEW ORLEANS PELICANS           9,908
  CHARLOTTE HORNETS              8,902
  CHARLOTTE BOBCATS              8,293
  NEW JERSEY NETS                7,350
  NEW ORLEANS HORNETS            6,428
  SEATTLE SUPERSONICS            4,165
  NEW ORLEANS OKLAHOMA CITY HORNETS 1,656

outcome - 2 unique values:
  WIN                            270,004
  LOSS                           269,773

=== Data Quality ===
No missing values found

Duplicate Rows: 0

## Check data obtained by `player_box_scores`

In [6]:
from datetime import datetime
import pandas as pd
from nba_data_forge.common.utils.paths import paths
from nba_data_forge.etl.extractors.daily_game_log_extractor import DailyGameLogExtractor

# comment out as we already fetched the data
# extractor = DailyGameLogExtractor()
# sample_daily = extractor.extract_daily(datetime.strptime("2025-02-05", "%Y-%m-%d").date())
# sample_daily.to_csv(paths.get_path("test")/"test_daily.csv", index=False)

In [7]:
df_daily = pd.read_csv(paths.get_path("test")/"test_daily.csv")

In [8]:
data_overview(df_daily)

=== NBA Game Log Data Overview ===
Total Records: 396
Columns: 23

=== Time Range ===
Start Date: 2025-02-04
End Date: 2025-02-05

=== Column Data Types ===
slug                 object
name                 object
team                 object
location             object
opponent             object
outcome              object
seconds_played       int64
made_field_goals     int64
attempted_field_goals int64
made_three_point_field_goals int64
attempted_three_point_field_goals int64
made_free_throws     int64
attempted_free_throws int64
offensive_rebounds   int64
defensive_rebounds   int64
assists              int64
steals               int64
blocks               int64
turnovers            int64
personal_fouls       int64
plus_minus           float64
game_score           float64
date                 object

=== Selected Categorical Column Values ===

team - 30 unique values:
  Team.TORONTO_RAPTORS           22
  Team.BROOKLYN_NETS             21
  Team.PHILADELPHIA_76ERS        19
  Team.CHICAGO_BULLS             19
  Team.CLEVELAND_CAVALIERS       19
  Team.MIAMI_HEAT                19
  Team.MEMPHIS_GRIZZLIES         15
  Team.INDIANA_PACERS            14
  Team.ORLANDO_MAGIC             14
  Team.LOS_ANGELES_CLIPPERS      14
  Team.SACRAMENTO_KINGS          13
  Team.PHOENIX_SUNS              13
  Team.OKLAHOMA_CITY_THUNDER     13
  Team.DENVER_NUGGETS            13
  Team.PORTLAND_TRAIL_BLAZERS    13
  Team.MINNESOTA_TIMBERWOLVES    12
  Team.MILWAUKEE_BUCKS           12
  Team.LOS_ANGELES_LAKERS        12
  Team.DETROIT_PISTONS           11
  Team.NEW_ORLEANS_PELICANS      11
  Team.WASHINGTON_WIZARDS        11
  Team.DALLAS_MAVERICKS          10
  Team.ATLANTA_HAWKS             10
  Team.UTAH_JAZZ                 10
  Team.GOLDEN_STATE_WARRIORS     10
  Team.CHARLOTTE_HORNETS         10
  Team.BOSTON_CELTICS            9
  Team.SAN_ANTONIO_SPURS         9
  Team.HOUSTON_ROCKETS           9
  Team.NEW_YORK_KNICKS           9

location - 2 unique values:
  Location.HOME                  200
  Location.AWAY                  196

opponent - 30 unique values:
  Team.TORONTO_RAPTORS           24
  Team.CHICAGO_BULLS             21
  Team.MIAMI_HEAT                20
  Team.BROOKLYN_NETS             20
  Team.CLEVELAND_CAVALIERS       20
  Team.PHILADELPHIA_76ERS        20
  Team.PORTLAND_TRAIL_BLAZERS    14
  Team.LOS_ANGELES_LAKERS        14
  Team.SACRAMENTO_KINGS          14
  Team.OKLAHOMA_CITY_THUNDER     13
  Team.PHOENIX_SUNS              13
  Team.ORLANDO_MAGIC             13
  Team.NEW_ORLEANS_PELICANS      13
  Team.INDIANA_PACERS            13
  Team.CHARLOTTE_HORNETS         12
  Team.LOS_ANGELES_CLIPPERS      12
  Team.NEW_YORK_KNICKS           11
  Team.MEMPHIS_GRIZZLIES         11
  Team.DENVER_NUGGETS            11
  Team.WASHINGTON_WIZARDS        11
  Team.HOUSTON_ROCKETS           10
  Team.SAN_ANTONIO_SPURS         10
  Team.DETROIT_PISTONS           10
  Team.GOLDEN_STATE_WARRIORS     10
  Team.MILWAUKEE_BUCKS           10
  Team.UTAH_JAZZ                 10
  Team.DALLAS_MAVERICKS          9
  Team.ATLANTA_HAWKS             9
  Team.BOSTON_CELTICS            9
  Team.MINNESOTA_TIMBERWOLVES    9

outcome - 2 unique values:
  Outcome.WIN                    201
  Outcome.LOSS                   195

=== Data Quality ===
No missing values found

Duplicate Rows: 0

## Review data fetched using `player_box_scores`

### Dataset Overview
- **Total Records**: 396 player game logs
- **Time Period**: 2 days (Feb 4-5, 2025)
- **Data Quality**: Complete with no missing values or duplicates
- **Structure**: 23 columns tracking various game statistics

### Game Distribution

#### Team Participation
- All 30 NBA teams represented
- Most active teams:
 - Toronto Raptors (22 game logs)
 - Brooklyn Nets (21 game logs)

#### Game Balance
- **Location**: Nearly balanced
 - Home: 200 player appearances
 - Away: 196 player appearances
- **Outcomes**: Well balanced
 - Wins: 201 player appearances
 - Losses: 195 player appearances

### Data Structure
- Consistent format for categorical values (e.g., "Team.TEAM_NAME")
- plus_minus is swtiching from int to float

The dataset provides a complete and balanced snapshot of NBA games over this two-day period, with each team's participation properly represented.

In [9]:
print("\n=== Plus_Minus Range ===")
print(f"plus_minus min: {df_daily['plus_minus'].min()}")
print(f"plus_minus max: {df_daily['plus_minus'].max()}")

=== Plus_Minus Range ===
plus_minus min: -38.0
plus_minus max: 42.0

In [10]:
from nba_data_forge.etl.transformers.daily_game_log_transformer import DailyGameLogTransformer

transformer = DailyGameLogTransformer()
df_daily_transformed = transformer.transform(df_daily)

2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Cleaning column: team
2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Cleaning column: opponent
2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Cleaning column: location
2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Cleaning column: outcome
2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Transformed 396 game logs with 28 columns
2025-02-06 12:14:00 | DailyGameLogTransformer | INFO     | Transformed 396 daily game logs with 31 columns

In [11]:
data_overview(df_daily_transformed)

=== NBA Game Log Data Overview ===
Total Records: 396
Columns: 31

=== Time Range ===
Start Date: 2025-02-04 00:00:00
End Date: 2025-02-05 00:00:00

=== Column Data Types ===
player_id            object
name                 object
team                 object
location             object
opponent             object
outcome              object
seconds_played       int64
made_field_goals     int64
attempted_field_goals int64
made_three_point_field_goals int64
attempted_three_point_field_goals int64
made_free_throws     int64
attempted_free_throws int64
offensive_rebounds   int64
defensive_rebounds   int64
assists              int64
steals               int64
blocks               int64
turnovers            int64
personal_fouls       int64
plus_minus           float64
game_score           float64
date                 datetime64[ns]
team_abbrev          object
opponent_abbrev      object
is_home              bool
is_win               bool
minutes_played       float64
season               int64
points_scored        int64
active               bool

=== Selected Categorical Column Values ===

team - 30 unique values:
  TORONTO RAPTORS                22
  BROOKLYN NETS                  21
  PHILADELPHIA 76ERS             19
  CHICAGO BULLS                  19
  CLEVELAND CAVALIERS            19
  MIAMI HEAT                     19
  MEMPHIS GRIZZLIES              15
  INDIANA PACERS                 14
  ORLANDO MAGIC                  14
  LOS ANGELES CLIPPERS           14
  SACRAMENTO KINGS               13
  PHOENIX SUNS                   13
  OKLAHOMA CITY THUNDER          13
  DENVER NUGGETS                 13
  PORTLAND TRAIL BLAZERS         13
  MINNESOTA TIMBERWOLVES         12
  MILWAUKEE BUCKS                12
  LOS ANGELES LAKERS             12
  DETROIT PISTONS                11
  NEW ORLEANS PELICANS           11
  WASHINGTON WIZARDS             11
  DALLAS MAVERICKS               10
  ATLANTA HAWKS                  10
  UTAH JAZZ                      10
  GOLDEN STATE WARRIORS          10
  CHARLOTTE HORNETS              10
  BOSTON CELTICS                 9
  SAN ANTONIO SPURS              9
  HOUSTON ROCKETS                9
  NEW YORK KNICKS                9

location - 2 unique values:
  HOME                           200
  AWAY                           196

opponent - 30 unique values:
  TORONTO RAPTORS                24
  CHICAGO BULLS                  21
  MIAMI HEAT                     20
  BROOKLYN NETS                  20
  CLEVELAND CAVALIERS            20
  PHILADELPHIA 76ERS             20
  PORTLAND TRAIL BLAZERS         14
  LOS ANGELES LAKERS             14
  SACRAMENTO KINGS               14
  OKLAHOMA CITY THUNDER          13
  PHOENIX SUNS                   13
  ORLANDO MAGIC                  13
  NEW ORLEANS PELICANS           13
  INDIANA PACERS                 13
  CHARLOTTE HORNETS              12
  LOS ANGELES CLIPPERS           12
  NEW YORK KNICKS                11
  MEMPHIS GRIZZLIES              11
  DENVER NUGGETS                 11
  WASHINGTON WIZARDS             11
  HOUSTON ROCKETS                10
  SAN ANTONIO SPURS              10
  DETROIT PISTONS                10
  GOLDEN STATE WARRIORS          10
  MILWAUKEE BUCKS                10
  UTAH JAZZ                      10
  DALLAS MAVERICKS               9
  ATLANTA HAWKS                  9
  BOSTON CELTICS                 9
  MINNESOTA TIMBERWOLVES         9

outcome - 2 unique values:
  WIN                            201
  LOSS                           195

=== Data Quality ===
No missing values found

Duplicate Rows: 0